<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidino"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
 	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
   		<activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
      	<activity
      	    
            android:name=".MenuInicial"
            android:label="@string/app_mmInicial">
            <intent-filter>
                <action android:name="android.intent.action.MENUINICIAL" /> <!-- Nome da Intençao -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Sensor"
            android:label="@string/app_Sensores">
            <intent-filter>
                <action android:name="android.intent.action.Sensor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
      	    
            android:name=".MenuConfiguracao"
            android:label="@string/app_mmConf">
            <intent-filter>
                <action android:name="android.intent.action.MenuConfiguracao" /> <!-- Nome da Intençao -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Twitter"
            android:label="@string/app_twitter">
            <intent-filter>
                <action android:name="android.intent.action.Twitter" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity
            android:name=".RedefinirSenha"
            android:label="@string/app_redesenha">
            <intent-filter>
                <action android:name="android.intent.action.RedefinirSenha" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity
            android:name=".CadUsuario"
            android:label="@string/app_cadastro">
            <intent-filter>
                <action android:name="android.intent.action.CadUsuario" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Comunicacao"
            android:label="@string/app_Comunicacao">
            <intent-filter>
                <action android:name="android.intent.action.Comunicacao" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>